<div
  class="mat-elevation-z8"
  [hidden]="isLoading && !res"
  [ngClass]="{ 'disabled': isLoading }"
>
  <table mat-table class="full-width-table" aria-label="Elements">
    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.description}}</mat-cell>
    </ng-container>

    <!-- Zip Code Column -->
    <ng-container matColumnDef="zipcode">
      <mat-header-cell *matHeaderCellDef mat-sort-header>CEP</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.zipcode}}</mat-cell>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef [ngStyle]="{ 'max-width': '50px' }">
        <button mat-raised-button color="primary" type="button"
          title="Adicionar"
          (click)="openDialog()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngStyle]="{ 'max-width': '50px' }">
        <button mat-raised-button color="primary" type="button"
          title="Remover"
          (click)="$event.stopPropagation(); unsetLocation(row.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
      matRipple matRippleColor="#fff4"
      matTooltip="Lat. {{ row.latitude }}, Long. {{ row.longitude }}"
      (click)="openDialog(row.id)"
    ></mat-row>
  </table>

  <div id="bottom-section">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <mat-paginator #paginator
        *ngIf="res"
        (page)="getLocations($event.pageIndex + 1)"
        [hidePageSize]="true"
        [length]="res.meta.total"
        [pageIndex]="res.meta.current_page - 1"
        [pageSize]="res.meta.per_page">
    </mat-paginator>
  </div>
</div>