<div class="mat-elevation-z8" [hidden]="!res">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
    *ngIf="res"
    (page)="getIncidentTypes($event.pageIndex + 1)"
    [length]="res.meta.total"
    [pageIndex]="res.meta.current_page - 1"
    [pageSize]="res.meta.per_page">
  </mat-paginator>
</div>
<mat-spinner *ngIf="!res"></mat-spinner>