<div
  class="mat-elevation-z8"
  [hidden]="isLoading && !res"
  [ngClass]="{ 'disabled': isLoading }"
>
  <table mat-table class="full-width-table" aria-label="Elements">
    <!-- Incident Type Column -->
    <ng-container matColumnDef="incident_type">
      <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.incident_type.description}}
      </mat-cell>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef>Local</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.location.description}}</mat-cell>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef [ngStyle]="{ 'max-width': '50px' }">
        <button mat-raised-button color="primary" type="button"
          title="Adicionar"
          (click)="openDialog()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngStyle]="{ 'max-width': '50px' }">
        <button mat-raised-button color="primary" type="button"
          title="Remover"
          (click)="$event.stopPropagation(); unsetIncident(row.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
      matRipple matRippleColor="#fff4"
      matTooltip="{{ row.severity }} | {{row.occurrence_time | date: 'dd/MM/yyyy'}}: {{ row.description }}"
      (click)="openDialog(row.id)"
    ></mat-row>
  </table>
  
  <div id="bottom-section">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <mat-paginator #paginator
        *ngIf="res"
        (page)="getIncidents($event.pageIndex + 1)"
        [hidePageSize]="true"
        [length]="res.meta.total"
        [pageIndex]="res.meta.current_page - 1"
        [pageSize]="res.meta.per_page">
    </mat-paginator>
  </div>
</div>
